{{> head }}
{{> navbar }}

<div class="container mt-5">

  <div class="row">
    <div class="col col-md-8">
      <h1>Acerca de</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, nam? Ad, omnis labore velit inventore nostrum
        eum totam ab recusandae eligendi earum repellendus quos dolores atque, unde voluptates, amet officia?</p>
    </div>
    <div class="col col-md-4">

      <figure class="figure">
        <img src="assets/img/floren.png" class="img-thumbnail" alt="floren">
        <figcaption class="figure-caption text-center">Floren</figcaption>
      </figure>

    </div>
  </div>
</div>


{{> footer}}