{{> head }}
{{> navbar }}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ capitalizar   nombre }} </h1>
    <p class="lead">Mi colección de vinilos, CD, DVD, libros...</p>

    <div class="card">
      <div class="card-header">Perfil</div>
      <div class="card-body">
        {{!-- <img
          src="http://localhost:3000/imagen/usuarios/5fcb5c05675a305b144d4a9d-459.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjp7InJvbGUiOiJBRE1JTiIsImVzdGFkbyI6dHJ1ZSwiX2lkIjoiNWZjYjVjMDU2NzVhMzA1YjE0NGQ0YTlkIiwibm9tYnJlIjoiRmxvcmVuU29mdCIsImVtYWlsIjoiZmxvcmVuZ2FAZ21haWwuZXMiLCJfX3YiOjB9LCJpYXQiOjE2MDczNDA3ODksImV4cCI6MTYwNzUxMzU4OX0.4orDRzQvwEF21dmUXcAUmSn63yFkc6yW0AuhkmGKZK4"
          alt="" height="200px"> --}}
      </div>
    </div>

  </div>
</div>

{{> footer}}