{{> head }}
{{> navbar }}

<div class="bg-light mt-5 p-5 ">
  <div class="container">
    <h1 class="display-4">{{ capitalizar   nombre }} </h1>
    <p class="lead">Nuestra colección de vinilos, CD, DVD, libros...</p>

    <br><br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="card text-center d-flex  justify-content-center align-items-center p-1 m-1" style="width:12rem;">
        <img src="assets/img/book.png" height="60px" width="60px" class="" alt="">
        <div class="card-body">
          <button type="button" class="btn btn-light">Libros <span class="badge bg-secondary">4</span></button>
        </div>
      </div>
      <div class="card text-center d-flex  justify-content-center align-items-center  p-1 m-1" style="width:12rem;">
        <img src="assets/img/cd.png" height="60px" width="60px" class="" alt="">
        <div class="card-body">

          <button type="button" class="btn btn-light">CD <span class="badge bg-secondary">4</span></button>
        </div>
      </div>
      <div class="card text-center d-flex  justify-content-center align-items-center  p-1 m-1" style="width:12rem;">
        <img src="assets/img/dvd.png" height="60px" width="60px" class="" alt="">
        <div class="card-body">

          <button type="button" class="btn btn-light">DVD <span class="badge bg-secondary">4</span></button>
        </div>
      </div>
      <div class="card text-center d-flex  justify-content-center align-items-center  p-1 m-1" style="width:12rem;">
        <img src="assets/img/bluray.png" height="60px" width="60px" class="" alt="">
        <div class="card-body">

          <button type="button" class="btn btn-light">BLURAY <span class="badge bg-secondary">4</span></button>
        </div>
      </div>
      <div class="card text-center d-flex  justify-content-center align-items-center  p-1 m-1" style="width:12rem;">
        <img src="assets/img/vinilo.png" height="60px" width="60px" class="" alt="">
        <div class="card-body">

          <button type="button" class="btn btn-light">Vinilos <span class="badge bg-secondary">4</span></button>
        </div>
      </div>

    </div>


    <div>

      {{#each categorias}}
      <p>{{descripcion}}</p>
      {{/each}}
    </div>

  </div>
</div>

{{> footer}}