{{> head }}
{{> navbar }}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ capitalizar   nombre }} </h1>



    <p class="lead">Mi colección de vinilos, CD, DVD, libros...</p>
  </div>
</div>

{{> footer}}