{{> head }}
{{> navbar }}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{  usuarios }} </h1>



    <p class="lead">Usuarios registrados en la base de datos</p>
  </div>
</div>

{{> footer}}